body {
    background-image: url('../images/easy_eats_background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.category-name {
    font-size: 1.4rem;   
    font-weight: 700;   
    margin-top: 0.25rem;
    color: #3b2414;     
}