body {
    font-family: 'Lato', sans-serif;
    background-image: url('../images/easy_eats_background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
}

.category-name {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 0.25rem;
    color: #3b2414;
}

